.video-list-info{
  background-color: #000000;
}
.video-list{
  padding: 0 2em;
  /* border-radius: 20px; */
}
.slide-flex{
  display: flex;
}
.video-preview-slide{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    height: 700px;
    background-color: black;
   position: relative;
   border-radius: 20px;
}
a{
    text-decoration: none;
}

.slide-title{
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 8.5%;
  font-size: 3.5rem;
color: azure;
text-shadow: 2px 2px 5px #FF0000;
}
.vote-ctn{
  z-index: 2;
  position: absolute;
  top: 48%;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(to left ,#01641b 80%,#202020 10%,#202020);
  border: 2px solid rgb(43, 43, 43);
  border-radius: 100%;
  
}

.green{
  background: linear-gradient(to left ,#455e04 70%,#202020 10%,#202020);
}
.yellow{
  background: linear-gradient(to left ,#7e8c02 50%,#202020 20%,#202020);
}
.red{
  background: linear-gradient(to left ,#FF0000 30%,#202020 10%,#202020);
}
.black{
  background: rgb(43, 43, 43,0.5);
}
 
.vote{
  font-size: 1rem;
  width: 50px;
  text-align: center;
  padding: 15px 5px;
  border-radius: 30px;
  color: #FFF;
  background-color: black;
}
.slide-rent{
  display: flex;
  align-items: center;
  z-index: 2;
  position: absolute;
  left: 8.5%;
  top: 48%;
  font-size: 1.5rem;
  color: azure;
  background-color: none;
  border: none;
  cursor: pointer;  
}
.unrent-icon{
  font-size: 3rem;
  color: gold;
}
.unrent-span{
  align-self: center;
  margin-left: 1em;
  text-shadow: 2px 2px 5px #666ee7;
}
.slide-link{
  margin: 0;
  z-index: 3;
  position: absolute;
  top: 60%;
  left: 8%;
  text-decoration: none;
  color:#FFF;
  font-size: 2.6rem;  
  background-color: rgb(59, 59, 59,0.3);
  padding: 3.5px 10px 0px 10px;
  border-radius: 50%;
}
.slide-link:hover{
  background-color: #FFF;
  color: rgb(59, 59, 59);
}
.slide-link-p{
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 7.4%;
  font-size:1.2rem;
  color: azure;
  font-weight: bold;
  background-color: rgb(59, 59, 59,0.5);
  padding: 4px 15px;
  border-radius: 10px;
}

.slide-list{
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 13.5%;
  font-size: 2.5rem;
  color: #FF0000;
  background-color: none;
  border: none;
  cursor: pointer;
  background-color: rgb(59, 59, 59,0.3);
  padding: 3.5px 10px 0px 10px;
  border-radius: 50%;
}
.slide-list:hover{
  background-color: #FFF;
  color: #FF0000;

}
.slide-list-p{
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 13%;
  font-size:1.2rem;
  color: azure;
  font-weight: bold;
  background-color: rgb(59, 59, 59,0.5);
  padding: 4px 15px;
  border-radius: 10px;
}

.remove{
  position: absolute;
  top: 70%;
  left: 12.5%;
}
.prev {
  font-size: 3rem;
  height: 60px;
  position: absolute;
  top: 45%;
  left: 20px;
  z-index: 1;
  color: white;
  border: none;
  background-color: rgb(38, 37, 37,0.5);
  border-radius: 50%;
  cursor: pointer;   
}

.next {    
  font-size: 3rem;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 45%;
  z-index: 1;
  color: white;
  border: none;
  background-color: rgb(38, 37, 37,0.5);
  border-radius: 50%;
  cursor: pointer
}
.trailer{
  position: absolute;
  top: 70%;
  left: 25%;
}
.next:hover , .prev:hover{
  transform: scale(1.3);
}
.video-ctn{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 700px;
}
.youtube-trailer{
  width: 100%;
  height: 700px;
}
iframe{
  margin: 0;
  width: 100%;
  height: 100%;
}
@media(max-width:1500px){
  .video-list{
    padding: 0 1em;
  }.video-preview-slide{
    height: 600px;
    border-radius: 20px;
  }.slick-slide .img{
    height: 600px;
    border-radius: 20px;
  }.vote-ctn{
    top: 57.5%;
    left: 20%;
  }.slide-link-p{
    top: 72%;
  }.slide-list-p{
    top: 72%;
    left: 12.5%;
  }.remove{
    top: 72%;
  }
}
@media(max-width:1250px){
  .slide-title{
    font-size: 3rem;
  } .video-preview-slide{
    height: 500px;
    border-radius: 20px;
  }.slick-slide .img{
    height: 500px;
    border-radius: 20px;
  }.vote-ctn{
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    left:90%;
    top: 5%;
  }.vote{width: 35px; font-size: 0.8rem;padding:10px 2px;} .slide-rent{
    font-size: 1.3rem;
  }.unrent-icon{
     font-size: 2.5rem;
  }.slide-link {
    font-size: 2rem;
  }.slide-list{
    font-size: 2rem;
    left: 18%;
  }.slide-link-p{
    font-size: 1rem;
    left:7%;
  }.slide-list-p{
    font-size: 1rem;
    left: 17%;
  }
}
@media(max-width:1000px){
  .slide-title{
    font-size: 2.5rem;
  }
}

@media(max-width:800px){
  .prev{
    font-size: 2rem;
    left: 10px;
    padding: 2px 8px 0px 8px;
  }.next{font-size: 2rem;
    padding: 2px 8px 0px 8px;
  right: 10px;}
  .video-list{
    padding: 0 0.1em;
  }.slide-title{
    font-size: 2rem;
  } .video-preview-slide{
    height: 500px;
    border-radius: 20px;
  }.slick-slide .img{
    height: 400px;
    border-radius: 20px;
  }.vote-ctn{
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    left:90%;
    top: 5%;
  }.vote{width: 35px; font-size: 0.8rem;padding:10px 2px;} .slide-rent{
    font-size: 1.3rem;
  }.unrent-icon{
     font-size: 2.5rem;
  }.slide-link {
    font-size: 2rem;
  }.slide-list{
    font-size: 2rem;
    left: 18%;
  }.slide-link-p{
    font-size: 1rem;
    left:7%;
  }.slide-list-p{
    font-size: 1rem;
    left: 17%;
  }.slick-dots{
    position: relative;
    top: -55px;
     margin-top: -10em;
     margin-bottom: -1em;
  }.slick-dots li{
    width: 6px;
    height: 6px;
  }.slide-movie-ctn-ActionAdventure{
    margin-top: -6em;
  }
}
@media(max-width:650px){
  .prev{
    font-size: 1rem;
    left: 5px;
    top: 60%;
    height: 40px;
    padding: 0px 8px 0px 8px;
  }.next{
    font-size: 1rem;
    padding: 0px 8px 0px 8px;
    height: 40px;
    right: 5px;
    top: 60%;
  }.next:hover , .prev:hover{
    transform: scale(1.1);
  }
  .video-list{
    padding: 0 0em;
  }.slide-title{
    font-size: 1.3rem;
  } .video-preview-slide{
    height: 250px;
    border-radius: 20px;
  }.slick-slide .img{
    height: 250px;
    border-radius: 20px;
  }.vote-ctn{
    display: none;
  }.slide-rent{
    font-size: 1rem;
  }.unrent-icon{
     font-size: 1.5rem;
  }.slide-link {
    font-size: 1.5rem;
    left: 6%;
  }.slide-list{
    font-size: 1.5rem;
    left: 22%;
  }.slide-link-p{
    display: none;
  }.slide-list-p{
   display: none;
  }.slick-dots{
    position: relative;
    top: 40px;
     margin-top: -10em;
     margin-bottom: -1em;
  }.slick-dots li{
    width: 3px;
    height: 3px;
  }.slide-movie-ctn-ActionAdventure{
    margin-top: -3em;
    margin-left: 0;
  }
}
